.main-Container {
  max-width: 100vw !important;
  position: relative;
}

/* .main-Container .col-10 {
  /* max-width: 70rem; */
 

/* .footer-container .col-4 svg{
    transform: scale(0.75);
} */

body {
  /* background: rgb(102, 16, 5);
  background: linear-gradient(180deg, rgb(83, 13, 4) 0%, rgb(0, 0, 0) 35%); */
  background-repeat: no-repeat;
  /* font-family: "Poppins", sans-serif; */
  color: rgba(255, 255, 255, 0.842) !important;
}

.arrowsAndDropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
}



h4 {
  color: white;
}

/* #fontfirst {
  font-weight: bold;
} */

#profilePic {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}



/* css for old media  footer - media-player */

/* .mediaPlayerFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #181818;
  height: 5rem;
}

.mediaPlayerFooter .leftFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mediaPlayerFooter .middleFooter .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mediaPlayerFooter img {
  height: 3rem;
  width: 6rem;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 0.1rem;
  bottom: 0.8rem;
}

#footerButton {
  margin-left: 0.3rem;
  background-color: transparent;
  border: 0;
}

#play i {
  transform: scale(1.8);
}

progress::-webkit-progress-value {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress {
  margin-top: 10px;
  display: inline-block;
  width: 30%;
  max-height: 5px;
  left: 490px;
  top: 60px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
}

.rightFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} */

.con1{
  position: relative;
  width: 83vw;
  height: 88vh;
  overflow-x: hidden;
}
.con2{
  position: relative;
  
  width: 17vw;
  height: 88vh;
  overflow: hidden;
  background-color: black;
    
}
/* Style for play green button */
.buttonBox {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #00d95f;
  border-radius: 50%;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.button.play {
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-width: 0.75rem 0rem 0.75rem 1.5rem;
  border-color: transparent transparent transparent white;
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  left: 0.70rem;
  top: 0.4rem;
  transition: all ease-in 0.01s;
}

/* .button.play:hover {
  width: 1.5rem;
  height: 1.5rem;
  border-style: double;
  border-width: 0 0 0 0.9rem;
  border-color: white;
  background-color: transparent;
  position: absolute;
  left: 1.05em;
  top: 0.8rem; } */


/* .button.pause {
  width: 1.2rem;
  height: 1.2rem;
  border-style: double;
  border-width: 0 0 0 0.9rem;
  border-color: white;
  background-color: transparent;
  position: absolute;
  left: 0.2em;
  top: 0.5rem;
  transition: all ease-in 0.01s;
} */

/* .button.pause:hover {
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-width: 0.75rem 0rem 0.75rem 1.5rem;
  border-color: transparent transparent transparent white;
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  left: 0.9rem;
  top: 0.75rem;
} */

/* Album page CSS */

/* .previous,
.next {
  opacity: 0.5;
} */

#album-body {
  background-color: transparent !important;
}

/* a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 20px;
  margin-top: 10px;
} */
.topdropdwon:hover{
  background-color: rgba(87, 81, 81, 0.575);
  color: rgb(0, 0, 0);
  
}
.btn-btn:hover {
  background-color: rgba(255, 255, 255, 0.596);
  color: rgb(0, 0, 0);
}
.btn-btn  {
  height: auto;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 100px;
  width: 40px;
}

/* .previous,
.next {
  background-color: #0a0a0a;
  color: white;
} */

/* .round {
  border-radius: 08%;
} */
#album-section > .container-fluid > .row > .col-4 {
  padding-right: 0px;
}
#album-section > .container-fluid > .row > .col-4 > img {
  max-width: 100%;
  min-width: 150px;
  min-height: 150px;
  max-height: 100%;

  margin-top: 25px;
  margin-left: 10px;
  position: absolute;
  background-color: #571f47;
}
#album-section > .container-fluid > .row > .col-10 {
  margin-top: 150px;
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0%;
}

#table-section > div {
  background-color: #20091c;
  
}

.bi-bi {
  padding-left: 15px;
}
.bi-stopwatch {
  padding-left: 0;
}

#table-section {
  background: rgb(14, 14, 14);
}
#table-container {
  padding: 0px;
}

#table-container > table {
  background-color: black;
}
#table-container > table > tbody > tr:hover {
  background-color: rgb(202, 28, 135);
}

#table-container > table > thead {
  background-color: #2c262c4f;
}
#heart {
  position: absolute;
  left: 1.5rem;
  top: 1.8rem;
  padding-left: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  display: inline;
}


/* header */
#image-align img {
  position: relative !important;
  left: 0;
  top: 20px;
  bottom: 10px;
  object-fit: cover;
  max-width: 80% !important;
  max-height: 80% !important;
}

.albumTextContainer {
  position: relative;
  
  right: 85px;
}

.display-7{
  position: absolute;
  left: 1.5rem;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



/* */



/* td {
  transition: 0.1s ease;
} */

/* td:hover {
  transform: scale(1.0);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
} */



 /* Media-palyer */
#footerButton {
  transition: 0.2s ease;
}

#footerButton:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
}

.fa-heart {
  margin-bottom: 40px;
  transform: scale(1.3);
}
.leftFooter {
  position: relative;
}
.leftFooter #fullscreen {
  position: absolute;
  right: -15px;
  bottom: 22px;
}
@media only screen and (min-width:850px) {
  #slider{
    width: 50vw !important;
  }
}
@media only screen and (max-width:850px) {
  .rmusic{
    display: none !important;
  }
  .lmusic{
    display: none !important;
  }
}


.music-player{
  position: absolute;
  width:100vw;
  height: 12vh;
  /* border-top: solid 1px gray; */
  background-color:  rgb(35 35 35) !important;
  overflow-y: hidden;
  overflow-x: hidden;
}
.p-music{
  color: rgba(248, 248, 248, 0.459);
}
#slider{
  -webkit-appearance: unset;
  width: 80vw;
  height: 4px;

}
#slider2{
  -webkit-appearance: unset;
  height: 4px;

}